<div class="wrapper">
    <div class="cap mt">
        <p class="title">Web Machine Learning Working Group Launch</p>
        <p class="subtitle">quotes</p>
    </div>
    <div class="more">
        <div class="moreitem">
            <div class="img"><img class="moreimage" src="https://avatars.githubusercontent.com/u/4018?v=4"
                    alt="Ping Yu" /></div>
            <h5 class="moreheadline_user">Ping Yu</h5>
            <h5 class="moreheadline">TLM for TensorFlow.js at Google</h5>
            <hr />
            <div class="moresubtext">
                Having access to the native ML accelerators, machine learning frameworks such as
                TensorFlow.js can greatly improve model execution efficiency and truly democratize ML for web
                developers.
            </div>
            <a class="" href="https://www.w3.org/blog/2021/04/w3c-launches-the-web-machine-learning-working-group/">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="moreitem">
            <div class="img"><img class="moreimage" src="https://avatars.githubusercontent.com/u/1005673?v=4"
                    alt="Ningxin Hu" /></div>
            <h5 class="moreheadline_user">Ningxin Hu</h5>
            <h5 class="moreheadline">Principal Engineer, WPE at Intel</h5>
            <hr />
            <div class="moresubtext">
                The early empirical results from the Web Neural Network API implementations demonstrate tremendous power
                &amp;
                performance improvements of the Web AI workloads. Through access to the full native AI capabilities of
                the
                modern heterogeneous hardware, the Web Neural Network API enables a whole new transformative class of
                intelligent user experiences on the Open Web Platform across a variety of hardware, software, and device
                types.
            </div>
            <a class="" href="https://www.w3.org/blog/2021/04/w3c-launches-the-web-machine-learning-working-group/">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
        <div class="moreitem">
            <div class="img"><img class="moreimage" src="https://avatars.githubusercontent.com/u/5553135?v=4"
                    alt="Chai Chaoweeraprasit" /></div>
            <h5 class="moreheadline_user">Chai Chaoweeraprasit</h5>
            <h5 class="moreheadline">PE Lead, MLCP at Microsoft</h5>
            <hr />
            <div class="moresubtext">
                The Web Neural Network API is a very important step toward the future of the Intelligent Web where AI is
                infused into the user’s daily web experiences. With the current advances and the pace of innovations in
                the
                AI hardware landscape, it’ll help connect those experiences from the clouds and make them personal to
                the
                users through seamless native hardware performance on the edge devices across the entire web. That’s the
                future worth dreaming about!
            </div>
            <a class="" href="https://www.w3.org/blog/2021/04/w3c-launches-the-web-machine-learning-working-group/">Learn More
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        </div>
    </div>
</div>