<svg viewBox="0 0 396 206">
    <g>
        <rect class="arc-12 webnn" x="144" y="90" width="108" height="26" />
        <text class="arc-2 webnn" transform="translate(173.26 107)">WebNN API</text>
        <rect class="arc-1 webgpu" x="0.23" y="90" width="108" height="26" />
        <text class="arc-2 webgpu" transform="translate(16.9 107)">WebGPU / WebGL</text>
        <rect class="arc-13 webassembly" x="288" y="90" width="108" height="26" />
        <text class="arc-2 webassembly" transform="translate(294.54 107)">WebAssembly (Wasm)</text>
        <path class="arc-4 nnpath gpupath wasmpath" d="M259,55V79H153V55H259m1-1H152V80H260V54Z" transform="translate(-8 -9)" />
        <text class="arc-5 gputext wasmtext nntext" transform="translate(156.78 56)">JS ML Frameworks<tspan class="arc-9" x="-11.2" y="10.8">TensorFlow.js, ONNX.js...</tspan></text>
        <path class="arc-4 gpupath wasmpath nnpath" d="M115.23,10V34H9.23V10h106m1-1H8.23V35h108V9Z" transform="translate(-8 -9)" />
        <text class="arc-5 gputext wasmtext nntext" transform="translate(24.42 17)">ONNX Models</text>
        <path class="arc-4 gpupath wasmpath nnpath" d="M259,10V34H153V10H259m1-1H152V35H260V9Z" transform="translate(-8 -9)" />
        <text class="arc-5 gputext wasmtext nntext" transform="translate(156.33 17)">TensorFlow Models</text>
        <path class="arc-4 gpupath wasmpath nnpath" d="M403,10V34H297V10H403m1-1H296V35H404V9Z" transform="translate(-8 -9)" />
        <text class="arc-5 gputext wasmtext nntext" transform="translate(313.35 17)">Other Models</text>
        <path class="arc-4 nnpath" d="M88.87,145v24h-79V145h79m1-1h-81v26h81V144Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext" transform="translate(14.22 146)">ML Compute<tspan x="0.63" y="10.8">macOS / iOS</tspan></text>
        <path class="arc-4 nnpath" d="M194,145v24H115V145h79m1-1H114v26h81V144Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext" transform="translate(126.77 146)">DirectML<tspan x="-0.06" y="10.8">Windows</tspan></text>
        <path class="arc-4 nnpath" d="M300,145v24H221V145h79m1-1H220v26h81V144Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext" transform="translate(236.92 146)">NN API<tspan x="-1.81" y="10.8">Android</tspan></text>
        <path class="arc-4 nnpath" d="M403,145v24H324V145h79m1-1H323v26h81V144Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext" transform="translate(333 146)">OpenVINO<tspan x="10.14" y="10.8">Linux</tspan></text>
        <path class="arc-4 nnpath wasmpath" d="M115.23,190v24H9.23V190h106m1-1H8.23v26h108V189Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext wasmtext" transform="translate(45.08 197)">CPU</text>
        <path class="arc-4 nnpath gpupath" d="M259,190v24H153V190H259m1-1H152v26H260V189Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext gputext" transform="translate(188.71 197)">GPU</text>
        <path class="arc-4 nnpath" d="M403,190v24H297V190H403m1-1H296v26H404V189Z" transform="translate(-8 -9)" />
        <text class="arc-5 nntext" transform="translate(307.03 197)">ML Accelerators</text>
        <line class="arc-18 gpuline wasmline nnline" x1="198.5" y1="41.19" x2="198.5" y2="26.5" />
        <polygon class="arc-4 gpu wasm nn" points="201.49 40.32 198.5 45.5 195.51 40.32 201.49 40.32" />
        <line class="arc-18 nnline" x1="197.5" y1="71.5" x2="197.5" y2="86.19" />
        <polygon class="arc-4 nn" points="194.51 85.32 197.5 90.5 200.49 85.32 194.51 85.32" />
        <line class="arc-18 nnline" x1="255.81" y1="103.5" x2="283.19" y2="103.5" />
        <polygon class="arc-4 nn" points="256.68 106.49 251.5 103.5 256.68 100.51 256.68 106.49" />
        <polygon class="arc-4 nn" points="282.32 106.49 287.5 103.5 282.32 100.51 282.32 106.49" />
        <line class="arc-18 nnline" x1="112.31" y1="103.5" x2="139.69" y2="103.5" />
        <polygon class="arc-4 nn" points="113.18 106.49 108 103.5 113.18 100.51 113.18 106.49" />
        <polygon class="arc-4 nn" points="138.82 106.49 144 103.5 138.82 100.51 138.82 106.49" />
        <path class="arc-19" d="M365.5,133.5" transform="translate(-8 -9)" />
        <path class="arc-19" d="M48.5,132.5" transform="translate(-8 -9)" />
        <path class="arc-19" d="M205.32,132.87" transform="translate(-8 -9)" />
        <path class="arc-19" d="M205.32,124.87" transform="translate(-8 -9)" />
        <line class="arc-18" x1="0.5" y1="166.5" x2="1" y2="166.5" />
        <line class="arc-20 nnline" x1="5.99" y1="166.51" x2="392.51" y2="167.49" />
        <line class="arc-18" x1="395" y1="167.5" x2="395.5" y2="167.5" />
        <line class="arc-18 nnpath" x1="199.5" y1="167.5" x2="199.5" y2="175.69" />
        <polygon class="arc-4 nn" points="196.51 174.82 199.5 180 202.49 174.82 196.51 174.82" />
        <line class="arc-18 nnline" x1="342.32" y1="167.28" x2="342.32" y2="175.48" />
        <polygon class="arc-4 nn" points="339.33 174.6 342.32 179.78 345.31 174.6 339.33 174.6" />
        <line class="arc-18 nnline" x1="51.32" y1="167.28" x2="51.32" y2="175.48" />
        <polygon class="arc-4 nn" points="48.33 174.6 51.32 179.78 54.31 174.6 48.33 174.6" />
        <path class="arc-21 nnpath gpupath wasmpath" d="M350,35l-.38,8.07a2.56,2.56,0,0,1-2.55,2.43H209.29a2.55,2.55,0,0,0-2.54,2.78L207,51l-.29-3.22a2.55,2.55,0,0,0-2.54-2.32H62A2.57,2.57,0,0,1,59.45,43l-.13-7.49" transform="translate(-8 -9)" />
        <path class="arc-22 nnpath" d="M205.5,124.5v5.88a2.12,2.12,0,0,1-2.12,2.12H50.62a2.12,2.12,0,0,0-2.12,2.12v5.07" transform="translate(-8 -9)" />
        <polygon class="arc-4 nn" points="37.51 129.82 40.5 135 43.49 129.82 37.51 129.82" />
        <path class="arc-18 nnpath" d="M205.5,124.5V130A2.51,2.51,0,0,1,203,132.5H157A2.51,2.51,0,0,0,154.5,135v4.68" transform="translate(-8 -9)" />
        <polygon class="arc-4 nn" points="143.51 129.82 146.5 135 149.49 129.82 143.51 129.82" />
        <path class="arc-18 nnpath" d="M205.5,124.5V130A2.48,2.48,0,0,0,208,132.5h50A2.51,2.51,0,0,1,260.5,135v4.68" transform="translate(-8 -9)" />
        <polygon class="arc-4 nn" points="249.51 129.82 252.5 135 255.49 129.82 249.51 129.82" />
        <path class="arc-18 nnpath" d="M205.5,124.5V130A2.47,2.47,0,0,0,208,132.5l155,1A2.52,2.52,0,0,1,365.5,136v3.71" transform="translate(-8 -9)" />
        <polygon class="arc-4 nn" points="354.51 129.82 357.5 135 360.49 129.82 354.51 129.82" />
        <path class="arc-18 gpupath" d="M152,67l-84.53.47a5,5,0,0,0-5,5V94.69" transform="translate(-8 -9)"/>
        <polygon class="arc-4 gpu" points="51.51 84.82 54.5 90 57.49 84.82 51.51 84.82"/>
        <path class="arc-18 wasmpath" d="M260,67l84.51.47a5,5,0,0,1,5,5v22.2" transform="translate(-8 -9)"/>
        <polygon class="arc-4 wasm" points="338.51 84.82 341.5 90 344.49 84.82 338.51 84.82"/>
    </g>
</svg>