<div class="wrapper">
    <div class="arch">
        <div>
            {%- include webnn-archsvg.html -%}
        </div>
        <div>
            <ul>
                <li>Take advantage of the native OS services for machine learning</li>
                <li>Get capabilities from the underlying hardware innovations</li>
                <li>Implement consistent, efficient, and reliable AI experiences on the web</li>
                <li>Benefit web applications and frameworks including TensorFlow.js, ONNX.js </li>
            </ul>
        </div>
    </div>
</div>