.arch svg {
  max-height: 340px;
}

#webnn:hover {
  fill: #00C7FD;
  stroke: #00C7FD;
  cursor: pointer;
}

/* #26CC0B */
.arch text:hover:not(.webgpu, .webnn, .webassembly) {
  fill: $brand-color;
}

.webnn:hover ~ .nnline,
.webnn:hover ~ .nnpath {
  fill: #00C7FD;
  stroke: #00C7FD;
  animation: 0.5s draw linear forwards;
}

.webnn:hover ~ #directml {
  fill: #FD0D8E;
  stroke: #FD0D8E;
}

.webnn:hover ~ #tflite {
  fill: #F9B508;
  stroke: #F9B508;
}

.webnn:hover ~ #coreml {
  fill: #26cc0b;
  stroke: #26cc0b;
}

.webnn:hover ~ #cpu {
  fill: #0068B5;
  stroke: #0068B5;
}

.webnn:hover ~ #gpu {
  fill: #FF2052;
  stroke: #FF2052;
}

.webnn:hover ~ #npu {
  fill: #010734;
  stroke: #010734;
}

.webnn:hover ~ #text-tflite,
.webnn:hover ~ #text-directml,
.webnn:hover ~ #text-coreml,
.webnn:hover ~ #text-cpu,
.webnn:hover ~ #text-gpu,
.webnn:hover ~ #text-npu
{
  fill: #fff;
}

@keyframes draw {
  0% {
    stroke-dasharray: 600 100;
    stroke-dashoffset: 600;
    stroke-width: 1px;
  }
  100% {
    stroke-dasharray: 0;
    stroke-dashoffset: 0;
    stroke-width: 1px;
    fill: #00C7FD;
    stroke: #00C7FD;
  }
}
