  .cls-1,
  .cls-78,
  .cls-90 {
    fill: none;
  }
  .cls-2 {
    isolation: isolate;
  }
  .cls-3 {
    fill: #d0ebff;
  }
  .cls-4 {
    fill: #eeeef0;
  }
  .cls-22,
  .cls-5 {
    fill: #fc8777;
  }
  .cls-6 {
    fill: #d6eff0;
  }
  .cls-13,
  .cls-15,
  .cls-7 {
    opacity: 0.75;
  }
  .cls-8 {
    fill: #90b665;
  }
  .cls-9 {
    fill: #a1d469;
  }
  .cls-10,
  .cls-15 {
    mix-blend-mode: screen;
  }
  .cls-11 {
    fill: #404040;
  }
  .cls-12 {
    fill: #a9b2bd;
  }
  .cls-13,
  .cls-20 {
    mix-blend-mode: multiply;
  }
  .cls-14 {
    fill: #e6e6e6;
  }
  .cls-16 {
    fill: #595959;
  }
  .cls-17 {
    fill: #95c461;
  }
  .cls-18 {
    fill: #c18255;
  }
  .cls-19 {
    fill: #cdd0da;
  }
  .cls-21 {
    fill: #6d828b;
  }
  .cls-22,
  .cls-23,
  .cls-89 {
    stroke: #fff;
  }
  .cls-22,
  .cls-23,
  .cls-78,
  .cls-89,
  .cls-90 {
    stroke-miterlimit: 10;
  }
  .cls-22,
  .cls-23 {
    stroke-width: 0.5px;
  }
  .cls-23,
  .cls-24,
  .cls-79,
  .cls-89 {
    fill: #fff;
  }
  .cls-25 {
    fill: #4aa4e3;
  }
  .cls-26 {
    fill: #61bafb;
  }
  .cls-27 {
    fill: #f7acfe;
  }
  .cls-28 {
    fill: #a8d0e6;
  }
  .cls-29 {
    fill: #b1fafb;
  }
  .cls-30 {
    fill: #f8e9a1;
  }
  .cls-31 {
    clip-path: url(#clip-path);
  }
  .cls-32 {
    fill: #efac8f;
  }
  .cls-33 {
    fill: #f0fbff;
  }
  .cls-34 {
    fill: #8a1735;
  }
  .cls-35 {
    fill: #e0a486;
  }
  .cls-36 {
    fill: #c9eeff;
  }

  .cls-37 {
    fill: #efac8f;
  }

  .cls-37a, .cls-32a, .cls-35a, .cls-47a {
    fill: #fbe7cc;
  }
  .cls-39a, .cls-38a {
    fill: #ec9a44;
  }

  .cls-37b, .cls-32b, .cls-35b, .cls-47b {
    fill: #fbe7cc;
  }
  .cls-39b, .cls-38b {
    fill: #5A3825;
  }

  .cls-37c, .cls-32c, .cls-35c, .cls-47c {
    fill: #866a60;
  }
  .cls-39c, .cls-38c {
    fill: #311d15;
  }
 
  .cls-37d, .cls-32d, .cls-35d, .cls-47d {
    fill: #e5c6a0;
  }
  .cls-39d, .cls-38d {
    fill: #a6806e;
  }

  .cls-37e, .cls-32e, .cls-35e, .cls-47e {
    fill: #f2d8b1;
  }
  .cls-39e, .cls-38e {
    fill: #cc9966;
  }

  .cls-37f, .cls-32f, .cls-35f, .cls-47f {
    fill: #ffc7dd;
  }
  .cls-39f, .cls-38f {
    fill: #613e28;
  }

  .cls-38 {
    fill: #665959;
  }
  .cls-39 {
    fill: #534747;
  }
  .cls-40 {
    fill: #fc8777;
  }
  .cls-41 {
    fill: #eefbff;
  }
  .cls-42 {
    fill: #383349;
  }
  .cls-43 {
    fill: #e6977c;
  }
  .cls-44 {
    fill: #34485d;
  }
  .cls-45 {
    fill: #ccd0d6;
  }
  .cls-46 {
    fill: #f7f7f7;
  }
  .cls-47 {
    fill: #f2b891;
  }
  .cls-48 {
    clip-path: url(#clip-path-2);
  }
  .cls-49 {
    fill: #6e6060;
  }
  .cls-50 {
    fill: #f09a43;
  }
  .cls-51 {
    fill: #c6a589;
  }
  .cls-52 {
    fill: #e3bf9c;
  }
  .cls-53 {
    fill: #d6b396;
  }
  .cls-54 {
    clip-path: url(#clip-path-3);
  }
  .cls-55 {
    fill: #7a8ba4;
  }
  .cls-56 {
    fill: #e7ebe9;
  }
  .cls-57 {
    fill: #4896b5;
  }
  .cls-58 {
    fill: #38759a;
  }
  .cls-59 {
    clip-path: url(#clip-path-4);
  }
  .cls-60 {
    fill: #4e4966;
  }
  .cls-61 {
    fill: #876a64;
  }
  .cls-62 {
    clip-path: url(#clip-path-5);
  }
  .cls-63 {
    fill: #bcdce8;
  }
  .cls-64 {
    fill: #f5faff;
  }
  .cls-65 {
    fill: #333b4d;
  }
  .cls-66 {
    clip-path: url(#clip-path-6);
  }
  .cls-67 {
    fill: #2a2e47;
  }
  .cls-68 {
    fill: #fff;
  }
  .cls-69 {
    fill: #1c1f2b;
  }
  .cls-70 {
    fill: #f0e9e2;
  }
  .cls-71 {
    font-size: 6px;
    fill: #333;
    font-family: RobotoSlab-Light, Roboto Slab;
    font-weight: 300;
  }
  .cls-72 {
    letter-spacing: -0.01em;
  }
  .cls-73 {
    letter-spacing: 0em;
  }
  .cls-74 {
    fill: #eee;
  }
  .cls-75 {
    fill: #3766ae;
  }
  .cls-76 {
    fill: #4777c0;
  }
  .cls-77 {
    fill: #c4314b;
  }
  .cls-78 {
    stroke: #b3b3b3;
  }
  .cls-78,
  .cls-89 {
    stroke-width: 0.25px;
  }
  .cls-79,
  .cls-82 {
    font-size: 3px;
    font-family: MyriadPro-Regular, Myriad Pro;
  }
  .cls-80 {
    letter-spacing: -0.01em;
  }
  .cls-81 {
    letter-spacing: -0.01em;
  }
  .cls-82,
  .cls-87,
  .cls-88 {
    fill: #aaa;
  }
  .cls-83 {
    letter-spacing: 0em;
  }
  .cls-84 {
    letter-spacing: -0.01em;
  }
  .cls-85 {
    letter-spacing: 0em;
  }
  .cls-86 {
    letter-spacing: -0.01em;
  }
  .cls-87 {
    fill-rule: evenodd;
  }
  .cls-90 {
    stroke: #534741;
  }
  .cls-91 {
    fill: #313235;
  }
  .cls-92 {
    fill: #f7e8cb;
  }
  .cls-93 {
    fill: #fcf2d6;
  }
  .cls-94 {
    fill: #719253;
  }
  .cls-95 {
    fill: #e1d5c9;
  }
  .cls-96 {
    fill: #d6ccc0;
  }
  .cls-97 {
    fill: #fc8777;
  }
  .cls-98 {
    fill: #c95230;
  }
  .cls-99 {
    fill: #8c643e;
  }
  .cls-100 {
    fill: #7f5634;
  }
  .cls-101 {
    fill: #ffe5bd;
  }
  .cls-102 {
    fill: #3a3b3f;
  }
  .cls-103 {
    fill: #724b2d;
  }
  .cls-104 {
    fill: #666;
  }
  .cls-105 {
    fill: #4d4d4d;
  }
  .cls-106 {
    fill: #c27156;
  }
  .cls-107 {
    fill: #6d6a61;
  }
  .cls-108 {
    fill: #5a5a5a;
  }

  @keyframes shift {
    0% {
      opacity: 0;
    }
    60% {
      opacity: 0.6;
    }

    100% {
      opacity: 1;
    }
  }

  .smoke {
    animation: shift 10s ease-in 0.5s infinite;
  }

  #herosvg path:hover {
    stroke: #4777c0;
  }
 