@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Open Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #474c58!default;
$background-color: rgb(249, 249, 249) !default;
$background-color-dark: darken($background-color, 10%) !default;


$brand-color:      #4777c0 !default;
$brand-color0:      darken($brand-color, 20%) !default;
$brand-color2:      #4777c0 !default;
$brand-color3:      #4fc3f7 !default;
$brand-color4:      #b3e5fc !default;
$brand-color5:      #e1f5fe !default;
$brand-bg: rgba(242, 245, 281, 1.0) !default;
$brand-bg2: rgba(242, 245, 281, 0.75) !default;

$faq-color: #f76c6c !default;

$red-color:       #f44336 !default;

$grey-color:       #474c58 !default;
$grey-color-light: #808488 !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    1278px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;


