$white: #fff;
$black: #000;

.samples .cap {
  margin-top: 2rem;
}

.card {
  margin: 0.5rem;

  .cardwrapper {
    border-radius: 5px;
    background-color: $white;
    min-height: 360px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba($black, 0.1), 0 2px 3px rgba($black, 0.1);

    &:hover {
      box-shadow: 0 8px 8px rgba($black, 0.2), 0 8px 8px rgba($black, 0.2);

      .data {
        transform: translateY(0);
      }
    }
  }

  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(46px + 1rem));
    transition: transform 0.3s;

    .content {
      padding: 1rem;
      position: relative;
      z-index: 1;
    }
  }

  .text {
    height: 50px;
    margin: 0;
  }
}

.card1 {
  .content {
    background-color: rgba(242, 245, 255, 0.9);
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }

  .title {
    a {
      color: $grey-color;
    }
  }
}

.card2 {
  .content {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
    color: $white;
  }

  .title {
    a {
      color: $white;
    }
  }
}

.samplelink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0 0.5rem 0;
}

.samplelink a {
  display: inline-block;
  background-image: linear-gradient(135deg, #5eb4fe, #62d3fd);
  color: $white;
  font-size: 0.72rem;
  padding: 6px 8px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba($black, 0.1), 0 1px 1px rgba($black, 0.1);
}

.samplelink a:hover {
  background-image: linear-gradient(135deg, $brand-color, #5eb4fe);
  border: 1px solid #5eb4fe;
}

.samplelink svg {
  fill: $white;
  width: 1rem;
  height: 1rem;
  margin-left: 4px;
  margin-bottom: -4px;
}

.samplelink .link {
  transform: rotateY(0deg) rotate(-45deg);
}

@keyframes zoomin {
  0% {
    background-size: 100%;
  }

  100% {
    background-size: 150%;
  }

}

#bg_ce {
  background: url("../images/webnnsamples/codeeditor.jpg") center / cover no-repeat;
}

.cardwrapper:hover {
  animation: zoomin 5s linear;
  background-size: 150%;
}

#bg_ic {
  background: url("../images/webnnsamples/ic.jpg") center / cover no-repeat;
}

#bg_hr {
  background: url("../images/webnnsamples/handwritten.png") center / cover no-repeat;
}


#bg_st {
  background: url("../images/webnnsamples/starrynight.jpg") center / cover no-repeat;
}

#bg_ns {
  background: url("../images/webnnsamples/noise.png") center / cover no-repeat;
}

#bg_ns2 {
  background: url("../images/webnnsamples/rnnoise.png") center / cover no-repeat;
}

#bg_od {
  background: url("../images/webnnsamples/od.png") center / cover no-repeat;
}

#bg_ss {
  background: url("../images/webnnsamples/ss.png") center / cover no-repeat;
}

#bg_fld {
  background: url("../images/webnnsamples/fld.png") center / cover no-repeat;
}

#bg_fr {
  background: url("../images/webnnsamples/fr.png") center / cover no-repeat;
}