<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="wrapper doc" aria-label="Content">

    <div class="headbg">
      <div class="wrapper">
        <h2 class="title">Logos</h2>
        <p class="description">
          The W3C Web Machine Learning Community Group has licensed the Web Machine Learning Logo and the Web Neural Network Logo under a Creative Commons Attribution 4.0 International License. For all versions and the license deed, please refer to the <a href="https://github.com/webmachinelearning/webmachinelearning.github.io/tree/main/logos/">GitHub repository</a>. See also the <a href="https://wiki.creativecommons.org/wiki/best_practices_for_attribution">best practices for attribution</a>.
        </p>
        <div class="description">
          Example attribution: Web Machine Learning Logo by <a href="https://webmachinelearning.github.io/">W3C Web Machine Learning Community Group</a> / <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
        </div>
      </div>
    </div>

    <h1 class="title">Web Machine Learning Logo</p>
    <img src="logos/webml/logo-webml-white-1-alpha.png">

    <p class="title">Web Neural Network Logo</p>
    <img src="logos/webnn/logo-webnn-white-1-alpha.png">

  </main>

  {%- include footer.html -%}

</body>

</html>