<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

  {%- include header.html -%}

  <main class="samples">

    <div class="headbg">
      <div class="wrapper">
        <h2 class="title">WebNN Samples</h2>
        <div class="description">See samples built with WebNN API. Usually the best and recommended way to leverage
          WebNN capabilities
          and performance for your web applications is to use TensorFlow.js or other JavaScript library that
          integrates
          WebNN API directly. You can also build web applications powered by WebNN from scratch without using ML
          JavaScript libraries.</div>
      </div>
    </div>

    <div class="wrapper">

      <div class="cap">
        <p class="title">WebNN Samples</p>
        <p class="subtitle">continuously updated to follow the latest WebNN spec</p>
      </div>

      <div class="g3">
        <div class="card1 card">
          <div id="bg_ce" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/code/">WebNN Code
                    Editor</a></h1>
                <p class="text">Evaluate, review and modify WebNN sample codes interactively in web browser.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/code/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/code">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_ic" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a
                    href="https://webmachinelearning.github.io/webnn-samples/image_classification/">Image
                    Classfication</a></h1>
                <p class="text">Classifying the major object in the image into a set of pre-defined classes.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/image_classification/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/image_classification">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card1 card">
          <div id="bg_hr" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/lenet/">Handwritten Digits
                    Classification</a></h1>
                <p class="text">Use LeNet to classify handwritten digits from the clasic MNIST example data set.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/lenet/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/lenet">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_st" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/style_transfer/">Fast
                    Style Transfer</a></h1>
                <p class="text">Applying the STARRY NIGHT and other painting styles of Van Gogh to your image.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/style_transfer/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/style_transfer">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_ns" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/nsnet2/">Noise
                    Suppression (NSNet2)</a></h1>
                <p class="text">A NSNet2 baseline implementation of deep learning-based noise suppression.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/nsnet2/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/nsnet2">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_ns2" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/rnnoise/">Noise
                    Suppression (RNNoise)</a></h1>
                <p class="text">An RNNoise baseline implementation of deep learning-based noise suppression.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/rnnoise/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/rnnoise">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="card2 card">
          <div id="bg_od" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/object_detection/">Object
                    Detection</a></h1>
                <p class="text">Detecting instances of semantic objects of a certain class in digital images and videos.
                </p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/object_detection/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/object_detection">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_ss" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a
                    href="https://webmachinelearning.github.io/webnn-samples/semantic_segmentation/">Semantic
                    Segmentation</a></h1>
                <p class="text">Partitioning image into semantically meaningful parts to classify each part into
                  pre-determined class.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/semantic_segmentation/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/semantic_segmentation">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_fld" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a
                    href="https://webmachinelearning.github.io/webnn-samples/facial_landmark_detection/">Facial Landmark
                    Detection</a></h1>
                <p class="text">Detecting facial landmarks like eyes, nose, mouth, etc., which can be used for web-based
                  try-on simulator of online store.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/facial_landmark_detection/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/facial_landmark_detection/">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card2 card">
          <div id="bg_fr" class="cardwrapper">
            <div class="data">
              <div class="content">
                <h1 class="title"><a href="https://webmachinelearning.github.io/webnn-samples/face_recognition/">Face
                    Recognition</a></h1>
                <p class="text">Detecting faces of participants using object detection and checking whether each face
                  was present or not.</p>
                <div class="samplelink">
                  <a href="https://webmachinelearning.github.io/webnn-samples/face_recognition/">
                    Explore
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2" class="link" viewBox="0 0 24 24">
                      <path d="M5 12h14M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <a href="https://github.com/webmachinelearning/webnn-samples/tree/master/face_recognition">
                    View Code
                    <svg viewBox="0 0 24 24" class="gh">
                      <path
                        d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12">
                      </path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      {{ content }}

    </div>
  </main>

  {%- include footer.html -%}

</body>

</html>
